* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	background-image: -webkit-linear-gradient(left, #ffecd2 0%, #fcb69f 100%);
	background-image: -o-linear-gradient(left, #ffecd2 0%, #fcb69f 100%);
	background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
}

/* MENU */

.main-menu, .footer-menu {
	text-align: center;
	margin: 4em 0;
}

.menu-item {
	display: inline-block;
	padding: 0 12px;
	text-transform: uppercase;
}

.main-menu .menu-item a {
	color: #bb6f6b;
	font-size: 20px;
	font-weight: bold;
	transition: 0.5s;
}

.main-menu .menu-item a:hover {
	text-decoration: none;
	color: #ea9674;
}

.footer-menu .menu-item a {
	color: #000000;
	font-size: 10px;
	font-weight: bold;
	font-style: oblique;
	transition: 0.2s;
}

.front-page-header {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 400px;
}

.logo {
	margin-top: 2em;
	text-align: center;
}
